.top-content-header {
    padding-top: 20px;
    color:#2c2e3e;
    font-weight: bold;
}
.flaticon {
    padding:2px;
    font-size: 25px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px !important;;
}